{% extends 'base.html' %}

{% load static %}

{% block title %}

    Armonia.day - About the Project

{% endblock %}


{% block content %}
    <main>


        <h1 class="display-6 text-center my-4">About Armonia.day</h1>

        This project is aimed to solve user mental health problems with imitation of Therapy.
    This is NOT real therapy. If you are having a crisis situation, do not rely on this service. 
        You should call 911 (US) or 112 (Europe) or go to the nearest emergency room. 
        This AI Therapist is not a medical service. Do not ask it for medical advice and
        exercise your own judgement.
        


    </main>


{% endblock %}


{% block extra_head %}
{% endblock %}
