{% extends 'base.html' %}

{% load static %}

{% block title %}

    Armonia.day - Contact Us

{% endblock %}


{% block content %}
    <main>


        <h1 class="display-6 text-center my-4">Contact Us</h1>

        <h5>You can contact us by using this form here.</h5>

        <div class="text-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc0etenG7xy2kzaTGeeAxygu73_VEQR1KEBQvmquotCN7XVdw/viewform?embedded=true" width="100%" height="897" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>

    </main>


{% endblock %}


{% block extra_head %}
{% endblock %}
