{% extends 'base.html' %}

{% load static %}

{% block title %}

    Armonia.day - Terms of Service

{% endblock %}


{% block content %}
    <main>


        <h1 class="display-6 text-center my-4">Armonia.day - Terms of Service</h1>


        <div class="date mb-4">Effective: May 26, 2024.</div>
        <p>Thank you for using Armonia.day!</p>
        <p>Armonia.day offers products and services provided by The Developer and our subsidiaries
            (collectively,
            "Armonia.day," "us," "we," or "our"). These Terms of Service ("Terms") govern your use of our website, apps,
            and
            other products and services ("Services"). As some of our Services may be software that is downloaded to your
            computer, phone, tablet, or other device, you agree that we may automatically update this software, and that
            these
            Terms will apply to such updates. Please read these Terms carefully, and contact us if you have any questions,
            requests for information, or complaints. By clicking “I accept” (or for those who have not yet created an
            account,
            by using our Services), you agree to be bound by these Terms, including the policies referenced in these Terms.
            By
            using our Services, you agree to be bound by these Terms, including the policies referenced in these Terms.</p>
        <p>THESE TERMS INCLUDE AN ARBITRATION AGREEMENT AND CLASS ACTION WAIVER THAT APPLY TO ALL CLAIMS BROUGHT AGAINST
            Armonia.day. PLEASE READ THEM CAREFULLY; THEY AFFECT YOUR LEGAL RIGHTS. THE TERMS OF THE ARBITRATION AGREEMENT
            AND
            CLASS ACTION WAIVER SHALL NOT APPLY IF UNENFORCEABLE UNDER THE LAWS OF THE COUNTRY IN WHICH YOU RESIDE.</p>
        <h3>1. Using Armonia.day</h3>
        <p>Who May Use Our Services</p>
        <p>Any use or access by anyone under the age of 18 is strictly prohibited.</p>
        <p>Additionally, you may use our Services only if you:</p>
        <ul>
            <li>can form a binding contract with Armonia.day;</li>
            <li>comply with these Terms, all applicable laws, and our policies; and</li>
            <li>are over the age at which you can provide consent to data processing under the laws of your country. Certain
                regions and Content Offerings may have additional requirements and/or different age restrictions.
            </li>
        </ul>
        <p>Any violation of our Terms, applicable laws, or Policies may result in your access to all or part of the
            Services
            being suspended, disabled, or terminated.</p>
        <p>When you create your Armonia.day account, and when you subsequently use certain features, you must provide us
            with
            accurate and complete information, and you agree to update your information to keep it accurate and
            complete.</p>
        <h3>Our License to You</h3>
        <p>Subject to these Terms and our Policies, we grant you a limited, personal, non-exclusive, non-transferable, and
            revocable license right to use our Services. You also agree that you will create, access, and/or use only one
            user
            account, unless expressly permitted by Armonia.day, and you will not share access to your account or access
            information for your account with any third party. Using our Services does not give you ownership of or any
            intellectual property rights in our Services or the content you access.</p>
        <h3>2. Content Offerings</h3>
        <p>Changes to Content Offerings</p>
        <p>Armonia.day offers courses and content ("Content Offerings") produced by our owns, from universities and other
            providers ("Content Providers"). While we seek to provide world-class Content Offerings from our Content
            Providers,
            unexpected events do occur. Armonia.day reserves the right to cancel, interrupt, reschedule, or modify any
            Content
            Offerings, or change the point value or weight of any assignment, quiz, or other assessment, either solely, or
            in
            accordance with Content Provider instructions. Content Offerings are subject to the Disclaimers and Limitation
            of
            Liability sections below.</p>
        <h3>3. Your Content</h3>
        <p>User Content</p>
        <p>The Services enable you to share your content, such as homework, quizzes, exams, projects, other assignments
            you
            submit, posts you make in the forums, and the like ("User Content"), with Armonia.day, instructors, and/or
            other
            users. You retain all intellectual property rights in, and are responsible for, the User Content you create and
            share. If you provide us course content you are acting on behalf of Content Providers. As between Armonia.day
            and
            Content Providers, such Content Offerings are governed by the relevant agreements in place between Armonia.day
            and
            Content Providers.</p>
        <p>How Armonia.day and Others May Use User Content</p>
        <p>To the extent that you provide User Content, you grant Armonia.day a fully-transferable, royalty-free,
            perpetual,
            sublicensable, non-exclusive, worldwide license to copy, distribute, modify, create derivative works based on,
            publicly perform, publicly display, and otherwise use the User Content. This license includes granting
            Armonia.day
            the right to authorize Content Providers to use User Content with their registered students, on-campus learners,
            or
            other learners independent of the Services. Nothing in these Terms shall restrict other legal rights
            Armonia.day
            may have to User Content, for example under other licenses.</p>
        <p>We reserve the right to remove or modify User Content for any reason, including User Content that we believe
            violates these Terms or other policies.</p>
        <h3>Feedback</h3>
        <p>We welcome your suggestions, ideas, comments, and other feedback regarding the Services ("Feedback"). By
            submitting
            any Feedback, you grant us the right to use the Feedback without any restriction or any compensation to you. By
            accepting your Feedback, Armonia.day does not waive any rights to use similar or related Feedback previously
            known
            to Armonia.day, developed by our employees, contractors, or obtained from other sources.</p>
        <h3>4. Security</h3>
        <p>We care about the security of our users. While we work to protect the security of your account and related
            information, Armonia.day cannot guarantee that unauthorized third parties will not be able to defeat our
            security
            measures. Please notify us immediately of any compromise or unauthorized use of your account by
            contacting us at <a href="{% url "contact-us" %}">Contact Us page</a>.</p>
        <h3>5. Third Party Content</h3>
        <p>Through the Services, you will have the ability to access and/or use content provided by us,
            other users, and/or other third parties and links to websites and services maintained by third parties.
            Armonia.day
            cannot guarantee that such third party content, in the Services or elsewhere, will be free of material you may
            find
            objectionable or otherwise inappropriate or of malware or other contaminants that may harm your computer, mobile
            device, or any files therein. Armonia.day disclaims any responsibility or liability related to your access or
            use
            of, or inability to access or use, such third party content.</p>
        <h3>6. Copyright and Trademark</h3>
        <p>Armonia.day respects the intellectual property rights of our users, Content Providers, and other third parties
            and
            expects our users to do the same when using the Services.</p>
        <h3>7. Education Research</h3>
        <p>Armonia.day is committed to advancing the science of learning and teaching, and records of your participation
            in
            courses may be used for education research. In the interest of this research, you may be exposed to variations
            in
            the Content Offerings. Research findings will typically be reported at the aggregate level. Your personal
            identity
            will not be publicly disclosed in any research findings without your express consent.</p>
        <h3>8. Paid Services from Armonia.day</h3>
        <p>Armonia.day can offer paid Services for a fee. Unless otherwise stated, fees are quoted in local currency. You
            are
            responsible for paying all fees charged by or for Armonia.day and applicable taxes in a timely manner with a
            payment mechanism associated with the applicable paid Services. If your payment method fails or your account is
            past
            due, we may collect fees using other collection mechanisms. Fees may vary based on your location and other
            factors,
            and Armonia.day reserves the right to change any fees at any time at its sole discretion. Any change, update,
            or
            modification will be effective immediately upon posting through the relevant Services. Refunds may be available
            for
            paid Services as described in our Payments and Refund Policy below.</p>
        <h3>9. Modifying or Terminating our Services</h3>
        <p>We are constantly changing and improving our Services. We may add or remove functions, features, or
            requirements,
            and we may suspend (to the extent allowed by applicable law) or stop part of our Services altogether.
            Accordingly,
            Armonia.day may terminate your use of any Service for any reason. We may not be able to deliver the Services to
            certain regions or countries for various reasons, including due to applicable export control requirements or
            internet access limitations and restrictions from governments. None of Armonia.day, its Content Providers and
            instructors, its contributors, sponsors, and other business partners, and their employees, contractors, and
            other
            agents (the "Armonia.day Parties") shall have any liability to you for any such action. You can stop using our
            Services at any time, although we'll be sorry to see you go.</p>
        <h3>10. Disclaimers</h3>
        <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICES AND ALL INCLUDED CONTENT ARE PROVIDED ON AN "AS IS" BASIS
            WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED. THE Armonia.day PARTIES SPECIFICALLY DISCLAIM ANY AND
            ALL
            WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY
            WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. THE Armonia.day PARTIES FURTHER DISCLAIM ANY AND
            ALL
            LIABILITY RELATED TO YOUR ACCESS OR USE OF THE SERVICES OR ANY RELATED CONTENT. YOU ACKNOWLEDGE AND AGREE THAT
            ANY
            ACCESS TO OR USE OF THE SERVICES OR SUCH CONTENT IS AT YOUR OWN RISK.</p>
        <h3>11. Limitation of Liability</h3>
        <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE Armonia.day PARTIES SHALL NOT BE LIABLE FOR ANY INDIRECT,
            INCIDENTAL,
            SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR
            INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (A) YOUR ACCESS TO
            OR
            USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (B) ANY CONDUCT OR CONTENT OF ANY PARTY OTHER THAN THE
            APPLICABLE
            Armonia.day PARTY, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT; OR (C)
            UNAUTHORIZED
            ACCESS, USE, OR ALTERATION OF YOUR CONTENT OR INFORMATION. IN NO EVENT SHALL Armonia.day'S AGGREGATE LIABILITY
            FOR
            ALL CLAIMS RELATED TO THE SERVICES EXCEED TWENTY U.S. DOLLARS ($20) OR THE TOTAL AMOUNT OF FEES RECEIVED BY
            Armonia.day FROM YOU FOR THE USE OF PAID SERVICES DURING THE PAST SIX MONTHS, WHICHEVER IS GREATER.</p>
        <p>YOU ACKNOWLEDGE AND AGREE THAT THE DISCLAIMERS AND THE LIMITATIONS OF LIABILITY SET FORTH IN THIS TERMS OF USE
            REFLECT A REASONABLE AND FAIR ALLOCATION OF RISK BETWEEN YOU AND THE Armonia.day PARTIES, AND THAT THESE
            LIMITATIONS ARE AN ESSENTIAL BASIS TO Armonia.day'S ABILITY TO MAKE THE SERVICES AVAILABLE TO YOU ON AN
            ECONOMICALLY FEASIBLE BASIS.</p>
        <p>YOU AGREE THAT ANY CAUSE OF ACTION RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF
            ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
        <h3>12. Export Controls</h3>
        <p>You warrant that you are not located in, or ordinarily reside in, any country that is subject to applicable
            Indonesia’s laws and regulations preventing Armonia.day from providing you access to the Services. Your
            location is
            determined by your physical location. Use of a virtual private network service, IP routing services, or other
            similar service for the purpose of circumventing these laws is strictly prohibited.</p>
        <p>Notwithstanding anything to the contrary in these Terms, Armonia.day may terminate any further obligations to
            you,
            effectively immediately if you are in breach of the obligations in this section.</p>
        <h3>13. Indemnification</h3>
        <p>You agree to indemnify, defend, and hold harmless the Armonia.day Parties from any and all claims,
            liabilities,
            expenses, and damages (to the extent attributable to you under the applicable law), including reasonable
            attorneys'
            fees and costs, made by any third party related to: (a) your use or attempted use of the Services in violation
            of
            these Terms; (b) your violation of any law or rights of any third party; or (c) User Content, including without
            limitation any claim of infringement or misappropriation of intellectual property or other proprietary
            rights.</p>
        <h3>14. Governing Law and Venue</h3>
        <p>Except as provided below, the Services are managed by The Developer. which is located in Georgia,
            Indonesia.
            You agree that these Terms will be governed by the laws of Indonesia, excluding its conflicts of law provisions.
            In
            the event of any dispute related to these Terms that is not subject to binding arbitration, you and
            The Developer will submit to the personal jurisdiction of and exclusive venue in the federal and state courts
            located in and serving Tbilisi, Georgia as the legal forum for any such dispute.</p>
        <p>This section shall not deprive you of any mandatory consumer protections under the law of the country to which
            we
            direct Services to you, where you have your habitual residence.</p>
        <h3>15. Binding Arbitration and Class Action Waiver</h3>
        <p>You and Armonia.day agree to submit to binding arbitration any and all disputes, claims, or controversies of
            any
            kind, whether based on statute, regulation, constitution, common law, equity, or any other legal basis or
            theory,
            and whether pre-existing, present, or future, that arise out of or relate to our Services, these Terms, and/or
            any
            other relationship or dispute between you and us, including without limitation (i) the scope, applicability, or
            enforceability of these Terms and/or this arbitration provision, and (ii) relationships with third parties who
            are
            not parties to these Terms or this arbitration provision to the fullest extent permitted by applicable law (each
            a
            “Claim,” and collectively the “Claims”).</p>
        <h3>16. General Terms</h3>
        <h3>Revisions to the Terms</h3>
        <p>We reserve the right to revise the Terms at our sole discretion at any time. Any revisions to the Terms will be
            effective immediately upon posting by us. For any material changes to the Terms, we will take reasonable steps
            to
            notify you of such changes, via a banner on the website, email notification, another method, or combination of
            methods. In all cases, your continued use of the Services after publication of such changes, with or without
            notification, constitutes binding acceptance of the revised Terms.</p>
        <h3>Entire Agreement</h3>
        <p>These Terms constitute the entire agreement between you and Armonia.day with respect to your use of the
            Services,
            superseding any prior agreements between you and Armonia.day regarding your use of the Services.</p>
        <h3>Waiver, Severability & Assignment</h3>
        <p>The failure of Armonia.day to enforce any right or provision of these Terms will not be deemed a waiver of
            such
            right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then
            that
            provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these
            Terms
            will remain in full force and effect. Armonia.day may assign these Terms, in whole or in part, at any time with
            or
            without notice to you. You may not assign these Terms or assign, transfer, or sublicense your rights to use the
            Services.</p>
        <h3>Contact Information</h3>
        <p>If you have any questions about these Terms or the Services, please contact us at:
            <a href="{% url "contact-us" %}">Contact Us page</a>.</p>
        <p>We also welcome your comments, feedback, and
            suggestions at <a href="{% url "contact-us" %}">Contact Us page</a>.</p>


    </main>

{% endblock %}
