You can only reply to messages from AI Therapist. Choose a message from an AI Therapist and then `Reply` to this message to send her Your response. You can find Examples of problems to Solve or create Your own Problem to Solve at https://armonia.day ❤️