Hey! ❤️ This is a Telegram Bot for chatting with AI Therapist and solve you problems from https://armonia.day 🔥
<br><br>
- https://armonia.day/ — Start chatting with AI Therapist to solve you problems<br>
- https://armonia.day/problems_to_solve/add_new — describe your own Problem and Solve it!<br>
- https://armonia.day/problems_to_solve/private/active — Your active chats<br>
<br><br>
This Telegram Bot commands:
<br>
- /start — this main screen<br>
- /connect — connect Telegram account to your Armonia.day account<br>
- /disconnect — disconnect Telegram account from Armonia.day account<br>
<br><br>
If you need help, feel free to contact: https://armonia.day/contact_us<br>